<!-- <div class="banner"></div>
<br /> -->

<div class="home-section">
  <div class="background-section"></div>

  <div class="demo-section">
    <h1>Want to Experience it?</h1>

    <div class="divider"></div>

    <p>
      Welcome to Eventlance, where we specialize in creating one-of-a-kind
      events that are tailored to your unique style and personality. From
      weddings to corporate events, we're passionate about turning your vision
      into a reality.
    </p>

    <button
      type="button"
      style="font: size 48px"
      mat-raised-button
      routerLink="/login"
      class="demo-btn"
    >
      TRY NOW
    </button>
  </div>

  <div class="why-section">
    <h1>Why Choose Eventlance?</h1>

    <div class="divider"></div>

    <div class="items-container">
      <div class="item">
        <i class="fa-solid fa-square-pen"></i>

        <h2>Let Us Know Your Requirements</h2>

        <p>Fill the form and provide accurate details.</p>
      </div>

      <div class="item">
        <i class="fa-solid fa-square-phone"></i>

        <h2>Choose from Curated Packages</h2>

        <p>
          We filter the available options to offer you the best available deals
          & prices, in your defined budget and with the highest safety
          standards.
        </p>
      </div>

      <div class="item">
        <i class="fa-solid fa-square-poll-vertical"></i>

        <h2>Confirm Your Package&Confirm</h2>

        <p>
          You can block the services and confirm by paying the booking amount.
        </p>
      </div>
    </div>

    <div class="bb">
      <button
        type="button"
        style="font: size 48px"
        mat-raised-button
        routerLink="/aboutus"
        class="km-btn"
      >
        KNOW MORE
      </button>
    </div>
  </div>

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>

          <p class="text-justify" style="text-align: justify">
            Welcome to our Eventlance! We are a team of experienced event
            planners who are dedicated to bringing your vision to life. Whether
            you're planning a corporate event, wedding, or any other special
            occasion, we are here to ensure that every detail is taken care
            of.Our mission is to provide exceptional event planning services
            that exceed our clients' expectations. We believe that every event
            should be a unique reflection of the host's personality and style,
            and we strive to make that happen with our customized approach to
            event planning.Thank you for considering our Event Management System
            for your next event. We look forward to working with you and
            creating an unforgettable experience!
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Book Events</h6>

          <ul class="footer-links">
            <li><a routerLink="/certifications">Event</a></li>

            <li><a routerLink="/certifications">Venue</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>

          <ul class="footer-links">
            <li><a routerLink="/aboutus">About Us</a></li>

            <li><a routerLink="/contactus">Contact Us</a></li>

            <li><a routerLink="/login">Login</a></li>

            <li><a routerLink="/signup">Register</a></li>
          </ul>
        </div>
      </div>

      <hr />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">
            Copyright &copy; 2017 All Rights Reserved by Eventlance.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
