<!-- <div class="container mt-5">
    <div class="card text-center" style="padding: 20px; color: aqua;">
    <h1>This is User class</h1>
    <h1>{{message}}</h1>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 20rem">
        <img src="/assets/Images/marriage.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title custom-title">
            <i class="fa-duotone fa-user-graduate"></i>MARRIAGE
          </h5>

          <!-- <p class="card-text"></p> -->

          <div class="text-center">
            <a class="btn" routerLink="/create-event">Book Event</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="col-sm">
        <div class="card" style="width: 20rem">
          <img src="/assets/Images/Engagement.jpg" class="card-img-top" />

          <div class="card-body">
            <h5 class="card-title custom-title">ENGAGEMENT</h5>

            <!-- <p class="card-text">College Details</p> -->

            <div class="text-center">
              <a class="btn" routerLink="/create-event">Book Event</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="col-sm">
        <div class="card" style="width: 20rem">
          <img src="/assets/Images/youtube.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title custom-title">YOUTUBE CREATOR SUMMIT</h5>

            <!-- <p class="card-text">Course Details</p> -->

            <div class="text-center">
              <a class="btn" routerLink="/booking">Book Event</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm">
      <div class="card" style="width: 20rem">
        <img src="/assets/Images/bday.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title custom-title">BIRTHDAY PARTY</h5>

          <!-- <p class="card-text">Branch Details</p> -->

          <div class="text-center">
            <a class="btn" routerLink="/booking">Book Event</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="col-sm">
        <div class="card" style="width: 20rem">
          <img src="/assets/Images/NewYear.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title custom-title">NEW YEAR PARTY</h5>

            <!-- <p class="card-text">Application Details</p> -->

            <div class="text-center">
              <a class="btn" routerLink="/booking">Book Event</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="col-sm">
        <div class="card" style="width: 20rem">
          <img src="/assets/Images/concert.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title custom-title">CONCERT</h5>

            <!-- <div class="card-body">
            <div class="card-title custom-title">
              <h5 class="card-title">CONCERT</h5> -->

            <!-- <p class="card-text">Payment Details</p> -->

            <div class="text-center">
              <a class="btn" routerLink="/booking">Book Event</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- </div>
</div> -->
