<head>
  <title>About Us Section</title>
  <meta charset="utf-8" />
  <meta name="veiwport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="" />
</head>
<body>
  <div class="section">
    <div class="container">
      <div class="content-section">
        <div class="title">
          <h1>About us</h1>
        </div>
        <div class="content">
          <h2>Exclusive Events, Priceless Memories.</h2>
          <p>
            We are a team of experienced event planners who are passionate about
            creating unforgettable events that leave lasting impressions on our
            clients and their guests. Our mission is to make the event planning
            process as stress-free and enjoyable as possible for our clients. We
            understand that organizing an event can be overwhelming, which is
            why we offer a comprehensive range of services to take care of every
            aspect of your event, from conceptualization to execution. Our team
            consists of highly skilled professionals who are experts in their
            respective fields.We pride ourselves on our attention to detail and
            our ability to execute even the most complex events flawlessly.
          </p>
          <div class="button">
            <a hred="" routerLink="/login">Get Started</a>
          </div>
        </div>
      </div>
      <div class="social">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
      </div>
    </div>
    <div class="image-section">
      <img
        src="https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bGl2ZSUyMGV2ZW50fGVufDB8fDB8fA%3D%3D&w=1000&q=80"
      />
    </div>
  </div>
</body>
